<div class="screen">
    <a class="arrow" href="#start"><i class="fa-solid fa-chevron-up"></i></a>

    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">КРАЇНИ</div>
                <ul class="poshuk-turiv-menu">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">КРАЇНИ</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="minimal-prices-box">
        <div class="countries-box">
            <div class="cards-item">
                <img src="./assets/images/greciya.jpeg" alt="greece">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Греція</a>
                    <div class="countries-price">Тури від 350€</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/dominikana.jpeg" alt="dominikana">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Домінікана</a>
                    <div class="countries-price">Тури від 1180$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/egypt.jpeg" alt="egypt">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Єгипет</a>
                    <div class="countries-price">Тури від 247$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/indiya.jpeg" alt="india">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Індія</a>
                    <div class="countries-price">Тури від 740$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/shri_lanka-3.jpeg" alt="sri-lanka">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Шрі-Ланка</a>
                    <div class="countries-price">Тури від 540$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/ispaniya.jpeg" alt="spain">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Іспанія</a>
                    <div class="countries-price">Тури від 371€</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/maldivy.jpeg" alt="maldives">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Мальдіви</a>
                    <div class="countries-price">Тури від 1080$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/oae.jpeg" alt="uae">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">ОАЕ</a>
                    <div class="countries-price">Тури від 760$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/tailand-1.jpeg" alt="thailand">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Таїланд</a>
                    <div class="countries-price">Тури від 657$</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <div class="cards-item">
                <img src="./assets/images/turechchyna-2.jpeg" alt="turkey">
                <div class="country-wrapper">
                    <a class="countries-title" href="#">Туреччина</a>
                    <div class="countries-price">Тури від 137€</div>
                    <a class="countries-buttons" href="#">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
        </div>
        <div>
            <div class="side-menu">
                <div class="side-menu-list-title">Вітрина1</div>

                <div class="side-menu-line"></div>

                <div class="side-menu-list-title">Вітрина2</div>

            </div>

        </div>
    </section>
    <app-query></app-query>
    </div>
