<section>
    <div class="title">
        <span class="left-line"></span>
        Тури зі знижками
        <span class="right-line"></span>
    </div>
    <div class="cross">x x x x</div>
    <div class="subtitle">Обирайте кращі гарячі тури</div>
    <div class="search-tours-box" *ngIf="select != null">
        <div class="form">
            <div class="first-column">
                <label>Звідки</label>
                <select asp-for="Cities.SelectedValue">
                    <option *ngFor="let city of select.cities.result">{{city.text}}</option>
                </select>

                <label>Куди</label>
                <select asp-for="Countries.SelectedValue">
                    <option *ngFor="let country of select.countries.result">{{country.text}}</option>
                </select>
            </div>
            <div class="second-column">
                <label>Дата вильоту з... по...</label>
                <div>
                    <input [ngModel]="changeDate | date:'yyyy-MM-dd'" (ngModelChange)="ChangeDate($event)" type="date" />
                    <input type="date" />
                </div>
                <div>
                    <label>Категорія</label>
                    <label>Харчування</label>
                    <label>Валюта туру</label>

                </div>
                <div>
                    <select asp-for="HotelClasses.SelectedValue">
                        <option *ngFor="let hotelClass of select.hotelClasses.result">{{hotelClass.text}}</option>
                    </select>
                    <select asp-for="Meal.SelectedValue">
                        <option *ngFor="let meal of select.meal.result">{{meal.text}}</option>
                    </select>
                    <select asp-for="Currencies.SelectedValue">
                        <option *ngFor="let currency of select.currencies.result">{{currency.text}}</option>
                    </select>
                </div>
            </div>
            <div class="third-column">
                <label>Ночей від... до...</label>
                <div>
                    <input type="number" value="0" />
                    <input type="number" value="30" />
                </div>
                <label>Ціна від... до...</label>
                <div>
                    <input asp-for="PriceMin" />
                    <input asp-for="PriceMax" />
                </div>
            </div>

            <div class="search-tours-button-position">
                <button class="search-tours-button" (click)="Search()" href="#">Знайти</button>
            </div>
        </div>
    </div>



    <section class="search-tours-box">
        <ul class="search-tours-box-item" *ngFor="let hotel of hotels">
            <li>
                <img src="{{hotel.hImage}}">
                <div class="search-tours-right">
                    <p class="hotel-name">{{hotel.hName}}</p>
                    <div class="li-right">
                        <p>{{hotel.date}} | {{hotel.day}}</p>
                        <p>{{hotel.nights}}</p>

                        <p class="price">${{hotel.price}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </section>




</section>

