<div class="screen">
    <app-arrow></app-arrow>
    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">КОНТАКТИ</div>
                <ul class="poshuk-turiv-menu">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">КОНТАКТИ</li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="contacts-menu">
            <div class="contacts-menu-item">
                <div class="country-title" id="ordinary-font">Телефон</div>
                <div class="cross">x x x x</div>
                <a class="tel-email" href="#">+38 066 375 10 62</a>
            </div>
            <div class="vertical-line"></div>
            <div class="contacts-menu-item">
                <div class="country-title" id="ordinary-font">Адреса</div>
                <div class="cross">x x x x</div>
                <a class="address" href="#">м. Київ, бул. Вацлава Гавела, буд. 4, оф. 434</a>
            </div>
            <div class="vertical-line"></div>
            <div class="contacts-menu-item">
                <div class="country-title" id="ordinary-font">E-mail</div>
                <div class="cross">x x x x</div>
                <a class="tel-email" href="#">geliostour@gmail.com</a>
            </div>
        </div>
    </section>

    <section class="grey" id="size">

        <div method="post" asp-action="Request" class="query">
            <div class="contact-info">
                <div class="contact-info-column">

                    <input [(ngModel)]="name">
                    <span>{{errorName}}</span>

                    <!--<div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert">

                <div *ngIf="name.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors?.['forbiddenName']">
                    Name cannot be Bob.
                </div>

            </div>-->

                </div>
                <div class="contact-info-column">
                    <input [(ngModel)]="phone">
                    <span>{{errorPhone}}</span>
                </div>
            </div>
            <textarea [(ngModel)]="text"></textarea>
            <span>{{errorText}}</span>

            <span>{{result}}</span>
            <button class="subscribe-button" (click)="Send()">НАДІСЛАТИ</button>

        </div>

    </section>

    <app-map></app-map>
</div>



