<div class="screen">
    <app-arrow></app-arrow>
    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">КОНТАКТИ</div>
                <ul class="poshuk-turiv-menu">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">КОНТАКТИ</li>
                </ul>
            </div>
        </div>
    </section>

    <app-contacts></app-contacts>


    <section class="grey" id="size">

        <div method="post" asp-action="Request" class="query">
            <div class="contact-info">
                <div class="contact-info-column">

                    <input [(ngModel)]="name" placeholder="Ваше імʼя">
                    <span>{{errorName}}</span>

                </div>
                <div class="contact-info-column">
                    <input [(ngModel)]="phone" placeholder="Телефон">
                    <span>{{errorPhone}}</span>
                </div>
            </div>
            <textarea [(ngModel)]="text" placeholder="Повідомлення"></textarea>
            <span>{{errorText}}</span>

            <span>{{result}}</span>
            <button class="subscribe-button" (click)="Send()">НАДІСЛАТИ</button>

        </div>

    </section>

    <app-map></app-map>
</div>



