<div class="screen">
    <a class="arrow" href="#start"><i class="fa-solid fa-chevron-up"></i></a>

    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">КРУЇЗИ</div>
                <ul class="poshuk-turiv-menu-3">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/tours']">ТИПИ ТУРІВ</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">КРУЇЗИ</li>
                </ul>
            </div>
        </div>

    </section>

    <section class="minimal-prices-box">
        <div>
            <img src="./assets/images/kruizy-1.jpeg">
            <div class="tury-content">
                <p>
                    Одним з найелітніших, а також своєрідних видів відпочинку є круїзи.
                    Річкові і морські круїзи завжди передбачають нові знайомства, нестандартні враження і унікальну
                    можливість за найкоротший відрізок часу побувати в різних містах і країнах. Круїзи втілюють
                    високий сервіс і вишукану атмосферу. Морські круїзи – це неповторний дух пригод і морська
                    романтика, неймовірний коктейль з країн, культур, природи і людей..
                </p>

                <p>
                    Вибираючи круїзи, як вид подорожі, Ви вибираєте абсолютну свободу, що чудово поєднується з
                    розміреністю життя на кораблі. У круїзі Ви маєте можливість усамітнитися на палубі, або в
                    шикарній бібліотеці, можете насолодитися чудовими стравами і найкращими напоями в
                    барі-ресторані лайнера, можете захопитися партією в шахи, або ж розслабитися в джакузі.
                </p>

                <p>
                    Вишколений персонал у будь-який момент виконає всі Ваші бажання, а вечірні програми вразять
                    навіть найдосвідченішу публіку. Різноманітність круїзів, які ми пропонуємо Вам, порадує навіть
                    найкапризніших мандрівників: круїзи по Арктиці, морські круїзи Середземномор’я, круїзи по
                    країнах Карибського басейну. Круїзи Середземномор’я – це незабутні морські круїзи в
                    найтепліші країни Європи. Вони подарують Вам насолоду бездоганним комфортом, приємними
                    зустрічами, вечірнім променадом по палубі розкішного корабля і красивими пейзажами.
                    Морські круїзи по країнах Карибського басейну – це пекуче яскраве сонце і буяння фарб,
                    пристрасть і калейдоскоп найнеймовірніших вражень. А ось відправляючись в круїз по Арктиці,
                    варто поклопотатися про теплий одяг, вже наперед готуючись до несподіванок суворої
                    північної романтики.
                </p>

                <p>
                    Круїзи – це білосніжний корабель, безкрайня водна гладінь, прекрасний сервіс і
                    незвичайні відчуття!
                </p>
                Чому багато туристів із стажем вибирають саме морські круїзи? Морський круїз це не тільки
                принадна можливість за пару тижнів побувати в декількох країнах і при цьому уникнути
                виснажуючих переїздів. Морський круїз не дасть Вам ані найменшої можливості
                понудьгувати.
            </div>
        </div>
        <div></div>
    </section>
    <app-query></app-query>
    </div>
