<div class="screen">
    <a class="arrow" href="#start"><i class="fa-solid fa-chevron-up"></i></a>

    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">ГАСТРО-ТУРИ</div>
                <ul class="poshuk-turiv-menu-3">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/tours']">ТИПИ ТУРІВ</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">ГАСТРО-ТУРИ</li>
                </ul>
            </div>
        </div>

    </section>

    <section class="minimal-prices-box">
        <div>
            <img src="./assets/images/gastro-tury.jpeg">
            <div class="tury-content">
                <p>
                       Вважається, що гастрономічний туризм привертає людей з тонкою душевною організацією.
                    Деякі скептики схильні думати, що при наявності нинішнього асортименту продуктів в супермаркетах,
                    вироблених в різних куточках світу від Франції до Маврикія, немає необхідності в подібних подорожах.
                    Але гастротури розроблені, перш за все, для гурманів, які цінують смакові враження. Гастрономічні тури
                    надають можливість не тільки продегустувати вишукані делікатеси, а й вивчити кулінарну культуру країни,
                    дізнатися про історію виникнення страви, і навіть побувати на майстер-класах. Особливістю
                    гастрономічного туризму є те, що з такої поїздки ви привезете не банальні сувеніри, а цінні рецепти
                    і знання. Гастрономічний відпочинок – це спеціально розроблені програми для цінителів кулінарії,
                    де враховуються побажання туристів. Навіть якщо ви не визначилися зі своїми уподобаннями в їжі,
                    але у вас є велике бажання спробувати якісь незвичайні і смачні страви, ви можете сміливо
                    відправлятися в гастрономічні тури по Європі, яка представлена устрицями, сирами, різноманітними
                    винами Іспанії і Франції, сиров’ялені делікатесами і стравами з національним колоритом.
                </p>

                <p>
                       За видами гастрономічний туризм можна розділити на 2 групи – сільський і міський. Під час першого туристи
                    насолоджуються натуральними продуктами, вирощеними на приватних фермах в провінціях. Вони можуть взяти
                    участь у зборі горіхів, ягід, фруктів і приготувати з них якесь блюдо. Також до цієї групи належать
                    гастрономічні витребеньки, якими славиться обрана місцевість, наприклад, іспанська хамон, шведська ікра
                    уклейки, пармська шинка та ін. Міські гастротури передбачають відвідання кондитерських фабрик і
                    вишуканих ресторанів. Справжні естети в таких турах зможуть оцінити атмосферу, майстерність шеф-кухарів,
                    професіоналізм персоналу та оформлення страв.
                </p>

                   Гастрономічні подорожі відкриють для вас традиції кулінарії різних країн і подарують справжню насолоду,
                масу вражень, нові знайомства та нові смакові відчуття.
            </div>
        </div>
        <div></div>
    </section>
    <app-query></app-query>
    </div>
