<div class="screen">
    <app-arrow></app-arrow>
    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">ПОШУК ТУРІВ</div>
                <ul class="poshuk-turiv-menu">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">ПОШУК ТУРІВ</li>
                </ul>
            </div>
        </div>

    </section>

    <app-search-tour></app-search-tour>

    <section class="minimal-prices-box">
        <div>
            <div class="title">
                <span class="left-line"></span>
                Кращі напрямки
                <span class="right-line"></span>
            </div>
            <div class="cross">x x x x</div>
            <div class="subtitle">Обирайте країну мрії</div>
            <div class="cards">
                <div class="cards-item">
                    <img src="./assets/images/tailand-1.jpeg" alt="thailand">
                    <div class="country-wrapper">
                        <a class="country-title" href="#">Таїланд</a>
                        <div class="country-price">Тури від 657$</div>
                        <a class="countries-button" href="#">ДЕТАЛЬНІШЕ</a>
                    </div>
                </div>
                <div class="cards-item">
                    <img src="./assets/images/turechchyna-2.jpeg" alt="turkey">
                    <div class="country-wrapper">
                        <a class="country-title" href="#">Туреччина</a>
                        <div class="country-price">Тури від 137€</div>
                        <a class="countries-button" href="#">ДЕТАЛЬНІШЕ</a>
                    </div>
                </div>
                <div class="cards-item">
                    <img src="./assets/images/shri_lanka-3.jpeg" alt="sri-lanka">
                    <div class="country-wrapper">
                        <a class="country-title" href="#">Шрі-Ланка</a>
                        <div class="country-price">Тури від 540$</div>
                        <a class="countries-button" href="#">ДЕТАЛЬНІШЕ</a>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </section>
    <app-query></app-query>
</div>
