.poshuk-turiv-header {
  height: 35vh;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.poshuk-turiv-background {
  background-image: url("../../assets/images/poshukTuriv.jpeg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(.5) contrast(.7);
}

.poshuk-turiv-header-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  margin: 0 auto;
  z-index: 100;
}

.poshuk-turiv-title {
  font-size: 40px;
}

.poshuk-turiv-menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
}

.poshuk-turiv-menu-item {
  text-decoration: none;
  color: var(--white);
}

.minimal-prices-box {
  display: flex;
  justify-content: space-around;
}

  .minimal-prices-box > div:first-of-type {
    width: 60%;
  }

  .minimal-prices-box > div:last-of-type {
    background-color: var(--grey);
    width: 33%;
  }

.cards {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.cards-item {
  width: 30%;
  background-color: var(--white);
}

  .cards-item > img {
    margin-bottom: 7%;
    width: 100%;
  }

    .cards-item > img:hover {
      filter: brightness(.8);
    }

.card-title {
  font-size: 39px;
  color: var(--brown);
  text-decoration: none;
  font-family: Miama;
}

  .card-title:hover {
    color: var(--orange);
  }

.card-content {
  width: 80%;
  color: var(--pastel);
  font-size: 13px;
  line-height: 2rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.country-wrapper {
  display: flex;
  flex-direction: column;
}

.country-title {
  color: var(--brown);
  font-size: 30px;
  text-decoration: none;
  font-family: Miama;
}

  .country-title:hover {
    color: var(--orange);
  }

.country-price {
  color: var(--orange);
  font-size: 20px;
}

.countries-button {
  color: var(--orange);
  background-color: var(--white);
  padding: 7px 40px;
  font-size: 20px;
  margin: 10%;
  border-radius: 7px;
  font-weight: 400;
  font-size: 13px;
  border: 2px solid var(--orange);
  text-decoration: none;
  align-self: center;
  transition: 0.3s ease-in-out;
}

  .countries-button:hover {
    background-color: var(--orange);
    color: var(--white);
  }

@media screen and (max-width: 768px) {

  .poshuk-turiv-header {
    height: 40vh;
    background-position: center;
  }

  .poshuk-turiv-background {
    background-position: center;
  }

  .poshuk-turiv-title {
    font-size: 26px;
  }

  .poshuk-turiv-menu {
    width: 40%;
    font-size: 13px;
  }
  .minimal-prices-box > div:first-of-type {
    width: 100%;
  }

  .minimal-prices-box > div:last-of-type {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .poshuk-turiv-header-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .poshuk-turiv-menu {
    width: 80%;
    margin: 0 auto;
  }
  .cards {
      flex-direction: column;
  }
  .cards-item {
    width: 60%;
    margin: 0 auto;
  }
}
