
<section id="proposition">
    <div class="title">
        <span class="left-line"></span>
        Ми пропонуємо
        <span class="right-line"></span>
    </div>
    <div class="cross">x x x x</div>
    <div class="subtitle">Спектр додаткових послуг</div>
    <div class="service-menu">
        <div class="service-menu-item">
            <img src="./assets/images/чемодан.jpeg">
            <a class="menu-title" href="#">
                Продаж
                турів
            </a>
        </div>
        <div class="vertical-line"></div>
        <div class="service-menu-item">
            <img src="./assets/images/viza.jpeg">
            <a class="menu-title" href="#">
                Візова
                підтримка
            </a>
        </div>
        <div class="vertical-line"></div>
        <div class="service-menu-item">
            <img src="./assets/images/Strahuvannya.jpeg">
            <a class="menu-title" href="#">Медичне страхування</a>
        </div>
        <div class="vertical-line"></div>
        <div class="service-menu-item">
            <img src="./assets/images/Trevelsym.jpeg">
            <a class="menu-title" href="#">Доступний TravelSim</a>
        </div>
    </div>
</section>
