<section>
    <div class="title">
        <span class="left-line"></span>
        Читайте та подорожуйте
        <span class="right-line"></span>
    </div>
    <div class="cross">x x x x</div>
    <div class="subtitle">Новини туризму</div>
    <div class="tour-programmes">
        <div class="tour-programmes-column">
            <a href="#"><img src="./assets/images/ryms_ki_kanikuly-1.jpeg"></a>
            <a class="menu-title" href="#">Римські канікули</a>
        </div>
        <div class="tour-programmes-column">
            <a href="#"><img src="./assets/images/zirkovist__goteliv-1.jpeg"></a>
            <a class="menu-title" href="#">Зірковість готелів</a>
        </div>
    </div>
</section>