<section>
    <div class="contacts-menu">
        <div class="contacts-menu-item">
            <div class="country-title">Телефон</div>
            <div class="cross">x x x x</div>
            <a class="tel-email" href="#">+38 066 375 10 62</a>
        </div>
        <div class="vertical-line"></div>
        <div class="contacts-menu-item">
            <div class="country-title">Адреса</div>
            <div class="cross">x x x x</div>
            <a class="address" href="#">м. Київ, бул. Вацлава Гавела, буд. 4, оф. 434</a>
        </div>
        <div class="vertical-line"></div>
        <div class="contacts-menu-item">
            <div class="country-title">E-mail</div>
            <div class="cross">x x x x</div>
            <a class="tel-email" href="#">geliostour@gmail.com</a>
        </div>
    </div>
</section>
