<div class="screen">
    <a class="arrow" href="#start"><i class="fa-solid fa-chevron-up"></i></a>

    <section>
        <div class="poshuk-turiv-header">
            <div class="poshuk-turiv-background">
            </div>
            <div class="poshuk-turiv-header-wrapper">
                <div class="poshuk-turiv-title">ГІРСЬКОЛИЖНІ ТУРИ</div>
                <ul class="poshuk-turiv-menu-3">
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/']">ГОЛОВНА</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li><a class="poshuk-turiv-menu-item" [routerLink]="['/tours']">ТИПИ ТУРІВ</a></li>
                    <li class="poshuk-turiv-menu-item">|</li>
                    <li class="poshuk-turiv-menu-item">ГІРСЬКОЛИЖНІ ТУРИ</li>
                </ul>
            </div>
        </div>

    </section>
    <section class="minimal-prices-box">
        <div>
            <img src="./assets/images/girskolyzhni-tury.jpeg">
            <div class="tury-content">
                <p>
                    Щороку зимовий відпочинок набуває все більшої популярності серед
                    українців. Провести новорічні чи різдвяні свята в оточенні мальовничих гір, займаючись активними
                    видами спорту, мрія чи не кожного туриста. Рідні Карпати вже набридли і хочеться кудись далі?
                    Ідеальним варіантом для Вас стануть гірськолижні курорти Європи! Серед основних переваг – високий
                    сервіс обслуговування, чудовий стан трас, близькість до України. Гірськолижний туризм –
                    комбінований вид туризму, що включає елементи наступних видів: лікувально-оздоровчий, рекреаційний,
                    спортивний аматорський, екологічний туризм. Гірськолижний туризм – яскраво виражений сезонний вид
                    туризму. Даний вид туризму має цілий ряд особливостей. Перш за все це особливості засобів
                    розміщення в гірськолижному туризмі. Розміщення передбачено в спеціалізованих готелях типу
                    гірських шале, архітектурно вписаних в навколишній пейзаж. Поблизу готелів обов’язкова наявність
                    підйомників. Існує кілька видів підйомників: бугельні, крісельні, кабіна, гондольні. Готелі
                    розташовані поблизу гірськолижних трас.
                </p>

                <p>
                    Серед різних видів активного відпочинку гірськолижне катання найбільше залежить від природних
                    умов. Першорядне значення має наявність протягом чотирьох п’яти місяців в році щільного сніжного
                    покриву. Іншими факторами, що зумовлюють зручності і привабливість гірськолижного відпочинку,
                    є: висота місцевості, особливості рельєфу, погодні умови гірськолижного сезону, характер
                    рослинності, відсутність лавинної і селевий небезпеки і, безумовно, різноманітність і
                    унікальність ландшафтів.
                </p>
                <p>
                    Кількість  снігу, який випадає залежить не тільки від висоти, але і від розташування району,
                    близькості його до моря, спрямованості гірських хребтів, рослинності.
                </p>

                Хочете запам’ятати свої зимові канікули як щось особливе і яскраве? Ми знаємо, що Вам
                порекомендувати! Гірськолижний відпочинок-це кращі емоції, романтика, свіже повітря, драйв,
                адреналін.
            </div>
        </div>
        <div></div>
    </section>
    <app-query></app-query>
    </div>
