<section>

    <!--<div class="feedback">
        <div class="title" id="white">Відгуки</div>
        <div class="cross">x x x x</div>
        <div class="subtitle-white">Що говорять клієнти?</div>
        <div class="feedback-wrapper">
            <div class="left-arrows"><fa-icon [icon]="faAngleLeft"></fa-icon></div>
            <div class="feedback-content">
                <div class="lapky"><fa-icon [icon]="faQuoteRight"></fa-icon></div>
                <p>
                    Хочу висловити величезну подяку за чудовий відпочинок
                    в березні в Єгипті. Мій відпочинок вийшов просто казковим! Тур організували
                    оперативно, а я отримала море вражень!
                </p>
            </div>
            <div class="right-arrows"><fa-icon [icon]="faAngleRight"></fa-icon></div>
        </div>
        <div class="client-country">Ігор Шевченко</div>
        <div class="client-country">Єгипет</div>
    </div>-->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner feedback">
            <div class="title" id="white">Відгуки</div>
            <div class="cross">x x x x</div>
            <div class="subtitle-white">Що говорять клієнти?</div>
            <div class="carousel-item active">

                <div class="feedback-wrapper">

                    <div class="feedback-content">
                        <div class="lapky"><fa-icon [icon]="faQuoteRight"></fa-icon></div>
                        <p>
                            Хочу висловити величезну подяку за чудовий відпочинок
                            в березні в Єгипті. Мій відпочинок вийшов просто казковим! Тур організували
                            оперативно, а я отримала море вражень!
                        </p>
                    </div>
                    <div class="client-country">Ігор Шевченко</div>
                    <div class="client-country">Єгипет</div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="feedback-wrapper">

                    <div class="feedback-content">
                        <div class="lapky"><fa-icon [icon]="faQuoteRight"></fa-icon></div>
                        <p>
                            Уже двічі відпочивала з Вашим агентством. Обидва рази залишилася задоволеною.
                            Дякую за Ваше терпіння, вміння знайти тур, який кожен раз задовольняв всі мої
                            побажання!
                        </p>
                    </div>
                    <div class="client-country">Олена Загороднюк</div>
                    <div class="client-country">Туреччина</div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="feedback-wrapper">

                    <div class="feedback-content">
                        <div class="lapky"><fa-icon [icon]="faQuoteRight"></fa-icon></div>
                        <p>
                            Спасибі Вашому агентству за надані можливості побачити світ
                            і чудово проводити час довгоочікуваної відпустки з максимальним ефектом.
                            Бажаю Вам процвітання!
                        </p>
                    </div>
                    <div class="client-country">Олександра Лавич</div>
                    <div class="client-country">Домінікана</div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
