.feedback {
  height: 85vh;
  background-image: url("../../../assets/images/vidguky.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27%;
  margin-bottom: 5%;
  
}
.title {
    margin-top: 5%;
}


.feedback-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7%;
  margin-top: 15%;
  color: var(--pastel);
  font-size: 18px;
  text-align: center;
  background-color: var(--white);
  line-height: 2rem;
  font-weight: 400;
  width: 60%;
  height: 100%;
}



.client-country {
  margin-top: 3%;
  color: var(--white);
  font-size: 17px;
}

.lapky {
  background-color: #80c4c4;
  color: var(--white);
  border-radius: 50px;
  font-size: 2rem;
  width: 8vh;
  height: 8vh;
  position: absolute;
  top: -16%;
  right: 45%;
  align-items: center;
  display: flex;
  justify-content: center;
}

  .lapky > fa-icon {
    font-size: 25px;
  }
.subtitle-white {
  font-size: 50px;
  color: var(--white);
  font-weight: 700;
  text-align:center;
}
@media screen and (max-width: 768px) {
  .feedback {
      background-position: center;
  }
  .feedback-wrapper {
     height: 40%;
     margin-top: 5%;
  }
    .subtitle-white {
    font-size: 43px;
  }
  .lapky {
     top: -13%;
  }
    .lapky > fa-icon {
        font-size: 25px;
    }
    }
@media screen and (max-width: 425px) {
  .feedback-wrapper {
    margin-top: 20%;
    height: 50%;
  }
  .feedback-content p {
    font-size: 13px;
    line-height: 1.5rem;
  }
  .lapky {
    right: 40%;
  }
  .subtitle-white {
    font-size: 24px;
  }
}