<section class="grey" id="cancel-margin-bottom">
    <div class="title top-padding">
        <span class="left-line"></span>
        Потрібна допомога?
        <span class="right-line"></span>
    </div>
    <div class="cross">x x x x</div>
    <div class="subtitle">Надішліть запит</div>
    <div method="post" class="query">
        <div class="contact-info">
            <div class="contact-info-column">

                <input [(ngModel)]="name">
                <span>{{errorName}}</span>

            </div>
            <div class="contact-info-column">
                <input [(ngModel)]="phone">
                <span>{{errorPhone}}</span>
            </div>
        </div>
        <textarea [(ngModel)]="text"></textarea>
        <span>{{errorText}}</span>

        <span>{{result}}</span>
        <button class="subscribe-button" (click)="Send()">НАДІСЛАТИ</button>

    </div>
</section>
